{{ if eq .chezmoi.os "android" }}
{{ .chezmoi.sourceDir }}/symlinks/nvim/termux/mason-lock.json
{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora-asahi-remix") }}
{{ .chezmoi.sourceDir }}/symlinks/nvim/fedora-asahi/mason-lock.json
{{ else if eq .chezmoi.os "darwin" }}
{{ .chezmoi.sourceDir }}/symlinks/nvim/macos/mason-lock.json
{{ else }}
{{ .chezmoi.sourceDir }}/symlinks/nvim/mason-lock.json
{{ end }}
