[edit]
command = "nvim"

[diff]
command = "delta"
pager = "delta"

[merge]
command = "nvim"
args = [
  "-d",
  {{ printf "%q" "{{ .Destination }}" }},
  {{ printf "%q" "{{ .Source }}" }},
  {{ printf "%q" "{{ .Target }}" }},
]
