Include ~/.colima/ssh_config

Host *
  ForwardAgent yes
  AddKeysToAgent yes
{{- if eq .chezmoi.os "darwin" }}
  UseKeychain yes
{{- end }}

Include config.local

Host gh
  Hostname github.com
  User git
