# https://github.com/sxyazi/yazi/blob/shipped/yazi-config/preset/yazi-default.toml
# https://yazi-rs.github.io/docs/configuration/yazi
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
show_hidden = true

[opener]
zathura = [
  { run = 'zathura "$@"', orphan = true, desc = "zathura", for = "unix" },
]

[open]
prepend_rules = [
  { mime = "application/pdf", use = [
    "zathura",
    "open",
    "reveal",
  ] },
]

[plugin]
prepend_fetchers = [
  # https://github.com/yazi-rs/plugins/tree/main/git.yazi
  # `name` for yazi stable and `url` for yazi nightly
  { id = "git", name = "*", url = "*", run = "git" },
  { id = "git", name = "*/", url = "*/", run = "git" },
]
