{
  "default_mcp_settings": {
    "use_idea_mcp": true,
    "use_custom_mcp": true
  },
  "agent_servers": {
    "Claude": {
      "command": "{{ lookPath `claude-agent-acp` }}",
      "env": {
        "ANTHROPIC_BASE_URL": "http://localhost:4000",
        "ANTHROPIC_AUTH_TOKEN": "{{ env `LITELLM_MASTER_KEY` }}",
        "CLAUDE_CODE_DISABLE_ADAPTIVE_THINKING": "1",
        "MAX_THINKING_TOKENS": "31999"
      }
    },
    "Claude Synthetic": {
      "command": "{{ lookPath `claude-agent-acp` }}",
      "env": {
        "ANTHROPIC_BASE_URL": "https://api.synthetic.new/anthropic",
        "ANTHROPIC_AUTH_TOKEN": "{{ env `SYNTHETIC_API_KEY` }}",
        "ANTHROPIC_DEFAULT_OPUS_MODEL": "hf:moonshotai/Kimi-K2.5",
        "ANTHROPIC_DEFAULT_SONNET_MODEL": "hf:nvidia/Kimi-K2.5-NVFP4",
        "ANTHROPIC_DEFAULT_HAIKU_MODEL": "hf:MiniMaxAI/MiniMax-M2.5",
        "CLAUDE_CODE_DISABLE_ADAPTIVE_THINKING": "1",
        "MAX_THINKING_TOKENS": "31999"
      }
    },
    "Claude Glm": {
      "command": "{{ lookPath `claude-agent-acp` }}",
      "env": {
        "ANTHROPIC_BASE_URL": "https://api.z.ai/api/anthropic",
        "ANTHROPIC_AUTH_TOKEN": "{{ env `ZAI_API_KEY` }}",
        "API_TIMEOUT_MS": "3000000"
      }
    },
    "OpenCode": {
      "command": "{{ lookPath `opencode` }}",
      "args": ["acp"]
    }
  }
}

